{% extends 'base.html.twig' %}

{% block body %}
        <h2>Price Change History</h2>
    <div class="table-responsive">
        <table class="table table-hover table-sm table-striped">
            <thead class="thead-dark">
            <tr>
                <td>Item Code</td>
                <td>Item UPC</td>
                <td>Item POS Description</td>
                <td>Pack</td>
                <td>Size</td>
                <td>Cur Multiple</td>
                <td>Cur Retail</td>
                <td>Cur GM%</td>
                <td>Net Cost Current</td>
                <td>Cur Cost Date</td>
                <td>Fut Retail Multiple</td>
                <td>Fut Retail</td>
                <td>Fut GM%</td>
                <td>Net Cost Fut</td>
                <td>Fut Cost Date</td>
                <td>Authorization Status</td>
                <td>Retail Source</td>
                <td>Store Ovd Options</td>
                <td>Str Multiple</td>
                <td>Str Fixed Retail</td>
                <td>Str GM Perc Retail</td>
                <td>Str Fixed to Auto Retail</td>
                <td>Str Auto Percent</td>
                <td>TPR Multiple</td>
                <td>TPR Retail</td>
                <td>TPR Begin Date</td>
                <td>TPR End Date</td>
                <td>AWG Department</td>
                <td>Category</td>
                <td>Sub Category</td>
                <td>Updated Price Zone</td>
                <td>Item Ranking</td>
                <td>Item Ranking Quantity</td>
                <td>OBI</td>
                <td>Current Divi GM%</td>
                <td>Divi Zone Retail Parent</td>
                <td>Divi Zone Fix Multiple</td>
                <td>Cur Cost</td>

            </tr>
            </thead>
            <tbody>
            {% for report in tprbatches %}
                <tr>
                    <td>{{ report.ITEM_CODE }}</td>
                    <td>{{ report.ITEM_UPC }}</td>
                    <td>{{ report.ITEM_POS_DESCRIPTION }}</td>
                    <td>{{ report.PACK }}</td>
                    <td>{{ report.SIZE2 }}</td>
                    <td>{{ report.CUR_MULTIPLE }}</td>
                    <td>{{ (report.CUR_RETAIL)|number_format(2) }}</td>
                    <td>{{ (report.CUR_GM_PRCNT)|number_format(2) }}%</td>
                    <td>{{ (report.NET_COST_CURRENT)|number_format(2) }}</td>
                    <td>{{ report.CUR_COST_DATE|date("m/d/Y") }}</td>
                    <td>{{ report.FUT_RETAIL_MULTIPLE }}</td>
                    <td>{{ (report.FUT_RETAIL)|number_format(2) }}</td>
                    <td>{{ (report.FUT_GM_PRCNT)|number_format(2) }}%</td>
                    <td>{{ (report.NET_COST_FUTURE)|number_format(2) }}</td>
                    <td>{{ (report.XX_FUT_COST_DATE)|date("m/d/Y") }}</td>
                    <td>{{ report.AUTHORIZATION_STATUS }}</td>
                    <td>{{ report.RETAIL_SOURCE }}</td>
                    <td>{{ report.STORE_OVD_OPTIONS }}</td>
                    <td>{{ report.STR_MULTIPLE }}</td>
                    <td>{{ (report.STR_FIXED_RETAIL)|number_format(2) }}</td>
                    <td>{{ report.STR_GM_PERC_RETAIL }}</td>
                    <td>{{ (report.STR_FIXED_TO_AUTO_RETAIL)|number_format(2) }}</td>
                    <td>{{ (report.STR_AUTO_PERCENT)|number_format(2) }}%</td>
                    <td>{{ report.TPR_MULTIPLE }}</td>
                    <td>{{ (report.TPR_RETAIL)|number_format(2) }}</td>
                    <td>{{ report.TPR_BEGIN_DATE|date("m/d/Y") }}</td>
                    <td>{{ report.TPR_END_DATE|date("m/d/Y") }}</td>
                    <td>{{ report.AWG_DEPARTMENT }}</td>
                    <td>{{ report.CATEGORY }}</td>
                    <td>{{ report.SUB_CATEGORY }}</td>
                    <td>{{ report.UPDATED_PRICE_ZONE }}</td>
                    <td>{{ report.ITEM_RANKING }}</td>
                    <td>{{ report.ITEM_RANKING_QUANTITY }}</td>
                    <td>{{ report.OBI }}</td>
                    <td>{{ (report.CURRENT_DIVI_GM_PRCNT)|number_format(4) }}%</td>
                    <td>{{ report.DIVI_ZONE_RETAIL_PARENT }}</td>
                    <td>{{ report.DIVI_ZONE_FIX_MULTIPLE }}</td>
                    <td>{{ (report.CUR_COST)|number_format(2) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}