{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h2>Reports</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>Organization</td>
            <td>Org Description</td>
        </tr>
        </thead>
        <tbody>
        {% for org in posts %}
            <tr>
                <td>{{ org.T_EP_ORGANIZATION_EP_ID }}</td>
                <td><a href="{{ path('post.show' , {id: org.T_EP_ORGANIZATION_EP_ID }) }}">{{ org.ORGANIZATION }}</a></td>
                <td><a class="text-danger" href="{{ path('post.delete' , {id: org.T_EP_ORGANIZATION_EP_ID }) }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}